/*
Description: Bootcamp UDD Carrusel
Author: Oscar Cifuentes
Version: 1.0
*/

.carrusel {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
}

#imagen {
  width: 100%;
  height: 400px;
  background-size: cover;
}

/* ---- Diseño Responsivo ---- */
@media (max-width: 960px) {
  .carrusel {
      width: 650px;
  }
}

@media (max-width: 800px) {
  .carrusel, .controles {
    display: none;
  }
}
/* ---- Fin Diseño Responsivo ---- */